body {
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  outline:0;
}

#content {
  height: calc(100% - 64px);
}

#viz {
  height: calc(100% - 48px);
}

img:after {
  display: none;
}

table {
      table-layout: auto !important;
      width: 100% !important;
      overflow: scroll !important;
      overflow-x: scroll !important;
}

table th {
      width: auto;
}

td {
  min-width: 120px;
}

input[type="checkbox"] {
   width: 25px;
   height: 25px;
}
