body {
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  outline:0;
}

#content {
  height: calc(100% - 64px);
}

#viz {
  height: calc(100% - 48px);
}

img:after {
  display: none;
}

table {
      table-layout: fixed !important;
}
